@{
    ViewBag.Title = "Details";
}
@using Posts.API;
@model Demo_7_20.Models.DetailsViewModel

<div class="container" style="width: 920px; margin: 40px auto;">
    <h1 style="margin: 0px auto; color: #3333ff;">@Model.Post.Venue.Title</h1>
    <br />
    <h3 style="margin: 0px auto;">@Model.Post.Title</h3>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h4 style="color: #000066">@Model.Post.Date.ToLongDateString()</h4>
        </div>
        <div class="col-md-6">
            <h4>@Model.Post.Venue.Address</h4>
        </div>
    </div>
    <br />
</div>

<div id="map" style="width: 900px; height: 380px; border: 5px solid #3333ff; margin: 40px auto;"> </div>

<script>
    function initMap() {
        var myLatLng = { lat: @Model.Post.Venue.Latitude, lng: @Model.Post.Venue.Longitude};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'foobar'
        });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbnDo9mZQiQ4vAUVJRSG5r4r3ONlqsZHY&callback=initMap" async defer></script>
<script src="~/Scripts/Index.js"></script>
